/target
/Cargo.lock

*.log
*.pid
logs/

config.toml

.idea/
.vscode/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

backups/
world/
world_nether/
world_the_end/

*.jar


# 以下文件 不能上传
.trae/

*.zip

target/

# mc-status-probe is in its own repo
mc-status-probe/
.sisyphus/